<footer class="footer-section mt-4 text-center">
  <div class="p-6">
    <div class="footer-content pt-5 pb-5 align-items-center">
      <div class="grid">
        <div class="field col mb-50">
          <div class="footer-widget">
            <div class="footer-logo">
              <a href="index.html"
                ><img src="/favicon.ico" class="img-fluid" alt="logo"
              /></a>
            </div>
            <div class="footer-text">
              <p style="width: 100%;">
                Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed
                do eiusmod tempor incididuntut consec tetur adipisicing
                elit,Lorem ipsum dolor sit amet.
              </p>
            </div>
            <div class="footer-social-icon">
              <span>Follow us</span>
              <a href="#"
                ><i
                  class="pi pi-facebook facebook-bg"
                  style="font-size: 2rem;"
                ></i
              ></a>
              <a href="#"
                ><i
                  class="pi pi-twitter twitter-bg"
                  style="font-size: 2rem;"
                ></i
              ></a>
              <a href="#"
                ><i
                  class="pi pi-instagram instagram-bg"
                  style="font-size: 2rem;"
                ></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="container text-center">
      <div class="grid flex justify-content-center">
        <div class="col-xl-6 col-lg-6">
          <div class="copyright-text">
            <p>
              Copyright &copy; {{year}}, All Right Reserved
              <a href="https://angular.dev/">Characters App</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
