@if (characterForm) {
<p-card>
  <div [formGroup]="characterForm">
    <div class="field">
      <span class="p-float-label">
        <input
          pInputText
          id="name"
          formControlName="name"
          required
          maxlength="50"
          style="width: 100%;"
          autofocus
          toUppercase
          autocomplete="name"
          [ngClass]="{'ng-invalid ng-dirty' : submitted && (!name || (name &&name.errors))}"
        />
        <label for="name">Name</label>
      </span>
      @if (submitted && (name && (!name.value || name.errors))) {
      <p-message
        severity="error"
        text="Name is required and must have at least 1 character"
        styleClass="mt-1"
      ></p-message>
      }
    </div>
    <div class="field">
      <div class="p-float-label">
        <p-dropdown
          id="country"
          inputId="country"
          [options]="countries"
          optionLabel="name"
          [autoDisplayFirst]="false"
          [filter]="true"
          [filterFields]="['name','code']"
          [lazy]="true"
          [showClear]="true"
          (onChange)="changeCountry($event)"
          [styleClass]="(submitted && !selectedCountry) ? 'ng-invalid ng-dirty' : ''"
        >
          <ng-template pTemplate="selectedItem">
            @if (selectedCountry) {
            <div class="flex align-items-center gap-2">
              <img
                src="https://flagcdn.com/64x48/{{selectedCountry.code.toLocaleLowerCase()}}.png"
                [class]="'flag flag-' + selectedCountry.code.toLowerCase()"
                style="width: 18px;"
              />
              <div>{{ selectedCountry.name }}</div>
            </div>
            } @else {
            <label>
              Select a Country
            </label>
            }
          </ng-template>
          <ng-template let-country pTemplate="item">
            <div class="flex align-items-center gap-2">
              <img
                src="https://flagcdn.com/24x18/{{country.code.toLocaleLowerCase()}}.png"
                [class]="'flag flag-' + country.code.toLowerCase()"
                style="width: 18px;"
              />
              <div>{{ country.name }}</div>
            </div>
          </ng-template>
        </p-dropdown>
        @if (selectedCountry) {
        <label>
          Select a Country
        </label>
        }
      </div>

      @if (submitted && !selectedCountry ) {
      <p-message
        severity="error"
        text="Country is required, please select a country"
        styleClass="mt-1"
      ></p-message>
      }
    </div>
    <div class="field">
      <span class="p-float-label">
        <input
          pInputText
          id="position"
          formControlName="position"
          required
          maxlength="100"
          style="width: 100%;"
          autofocus
          [ngClass]="{'ng-invalid ng-dirty' : submitted && (!position || (position &&position.errors))}"
        />
        <label htmlFor="position">Position</label>
      </span>
      @if (submitted && (position && (!position.value || position.errors))) {
      <p-message
        severity="error"
        text="Position is required and must have at least 2 characters"
        styleClass="mt-1"
      ></p-message>
      }
    </div>
    <div class="field">
      <span class="p-float-label">
        <textarea
          id="description"
          pInputTextarea
          formControlName="description"
          required
          rows="5"
          style="width: 100%;"
          [ngClass]="{'ng-invalid ng-dirty' : submitted && (!description || (description &&description.errors))}"
        ></textarea>
        <label htmlFor="description">Description</label>
      </span>
      @if (submitted && (description && (!description.value ||
      description.errors))) {
      <p-message
        severity="error"
        text="Description is required and must have at least 2 characters"
        styleClass="mt-1"
      ></p-message>
      }
    </div>
    <div class="field">
      <span class="p-float-label">
        <p-calendar
          formControlName="bornDate"
          [showIcon]="true"
          [style]="{'width': '100%'}"
          inputId="born-date"
          appendTo="body"
          [ngClass]="{'ng-invalid ng-dirty' : submitted && (!bornDate || (bornDate && bornDate.errors))}"
        ></p-calendar>
        <label for="born-date">
          Born Date
        </label>
      </span>
      @if (submitted && (bornDate && (!bornDate.value || bornDate.errors))) {
      <p-message
        severity="error"
        text="Born Date is required"
        styleClass="mt-1"
      ></p-message>
      }
    </div>
  </div>
  <div class="text-center">
    <p-button
      label="Save new character"
      pRipple
      [raised]="true"
      (click)="save()"
    ></p-button>
  </div>
</p-card>
}
